// Dark theme
$backgroundDark: #0d0e38;
$sidebarDark: #26274c;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: #26274c;

// Brand
$brandPrimary: #24f9b6;
